# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Damir\YandexDisk\Работа\Программирование\Java\Учёба\Java pre-project\Задачи\2.4.1 SpringMVC_Security_Example-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
